
<div class="container">
  <h1>Stupid coaching</h1>
  <h3>Ask your coach anything</h3>

  <form id="form" action="/answer">
    <input class="txt-input" type="text" name="answer">
    <input class="btn-submit" type="submit" value="Ask!">
  </form>
</div>
